<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA-beRL3MRH6DO2tQR9L_wujxKU2c_y3aQ</string>
	<key>GCM_SENDER_ID</key>
	<string>876706028082</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.guardianph.v3videocall</string>
	<key>PROJECT_ID</key>
	<string>guardian-bdd0b</string>
	<key>STORAGE_BUCKET</key>
	<string>guardian-bdd0b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:876706028082:ios:9876fc0cba1b589d3b7a2b</string>
	<key>DATABASE_URL</key>
	<string>https://guardian-bdd0b-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>